@import "../../../theme/mixins/main-page-mixin";

@include main-page-mixin();

@keyframes fade-out {
  100% {
    opacity: 0;
    display: none;
  }
}

.avo {
  width: 100%;
  max-width: 400px;
  aspect-ratio: auto;
}

.card {
  @media screen and (min-width: 900px) {
    &_3 {
      grid-column: span 3;
    }

    &_5 {
      grid-column: span 5;
    }
  }
}

.git {
  padding-right: 6px;
}

.contrast {
  color: var(--color-text-contrast);
  font-weight: 600;
}

.delimiter {
  border: 1px dashed var(--color-borders-light);
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  @media screen and (min-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
}

.achievements {
  p {
    padding-left: 20px;
  }


  span {
    cursor: pointer;
    text-decoration: underline;
  }

  p {
    color: var(--color-text-main-and-axis-labels);
  }
}

.skills {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  @media screen and (min-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  li {
    font-size: 1.2rem;
  }
}

.job {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 8px;

  height: auto;

  &:not(:last-child) {
    border-bottom: 1px dashed var(--color-borders-icons);
  }

  &_additional {
    border-bottom: 1px dashed var(--color-borders-light) !important;
  }

  &_hidden {
    animation: fade-out 0.25s forwards;
  }

  &__expander {
    margin-top: 8px;
    width: 100%;
    color: var(--color-text-main-and-axis-labels);
    border: 1px solid var(--color-borders-light);
  }

  .date {
    width: 100px;
  }

  .info {
    flex: 1;
    padding: 8px;
    border-left: 1px dashed var(--color-borders-icons);
  }
}
