<div class="card card_flexible card_3">
  <img [src]="'assets/my-foto-2.png'" alt="" class="avo">
</div>
<div class="card card_5">
  <mat-icon (click)="link.click()"
            class="download-icon"
            fontIcon="download"
            aria-hidden="false"
            matTooltip="Скачать"
            aria-label="Logo">
    <a #link href="assets/rezume.pdf"></a>
  </mat-icon>
  <h2>Крютченко Евгений Александрович, 27 лет.</h2>
  <div class="info-grid">
    <div>
      <p>{{ 'Email: e.krytchenko97@bk.ru' }}</p>
      <p>{{ 'Телефон: 8-917-984-73-60' }}</p>
      <p>Место жительства: Саратов, Россия</p>
      <p>Семейное положение: женат</p>
    </div>
    <div>
      <p>Желаемая зарплата: 200 000</p>
      <p>График работы: полный день, удаленная работа</p>
      <p>Готовность к командировкам: нет</p>
    </div>
  </div>
  <hr class="delimiter">
  <p>Опыт работы: 6 лет.<span class="contrast"> Опыт разработки: 3 года</span></p>
  <svg-icon [src]="'assets/github-mark.svg'" [svgStyle]="{ 'width.px':24, 'height.px':24 }" class="git"></svg-icon>
  <a href="https://github.com/KrutchenkoEA">https://github.com/KrutchenkoEA</a>
</div>
<div class="card">
  <h2>Достижения</h2>
  <section class="achievements">
    <h3>Написал собственную библиотеку для создания <span routerLink="/charts">графиков</span>, на основе d3.js</h3>
    <p class="card_flexible-row">Графики включают в себя тренды
      <mat-icon>show_chart</mat-icon>
      , бары
      <mat-icon>bar_chart</mat-icon>
      , стек-бары
      <mat-icon>stacked_bar_chart</mat-icon>
      и их комбинации
      <mat-icon>multiline_chart</mat-icon>
    </p>
    <p>Поддерживают перерисовку в реальном времени, анимацию, стилизацию через UI, легенду, тулбар, распечатку</p>
    <p>Используется во всех нижеперечисленных проектах</p>
  </section>
  <section class="achievements">
    <h3>На основе open source библиотеки mxGraph создал <span routerLink="/mnemo">конфигуратор схем</span></h3>
    <p>Внедрил в Angular-приложение и переписал более 60% ванильного JS на TS</p>
    <p>Конфигуратор поддерживает объекты из базовых геометрический фигур, svg-шейпов и пользовательских фигур, фигур на
      основе графиков</p>
    <p>Поддерживает добавление различных источников данных, в виде констант, тайм-серий и запросов к базам данных</p>
  </section>
  <section class="achievements">
    <h3>На основе конфигуратора схем создал <span routerLink="/mnemo">портал схем</span> портал схем - инструмент для
      отображения схем и подключенных к ним источников данных в реальном времени</h3>
    <p>Поддерживает запрос данных по REST и WS</p>
    <p>Имеет отдельный модуль по точечному и общему анализу полученных данных в виде графиков</p>
  </section>
  <section class="achievements">
    <h3>Создал <span routerLink="/dashboard">конфигуратор/портал дашбордов</span></h3>
    <p>Похожий по портал схем инструмент, для анализа данных, построенный на основе Angular Gridster</p>
  </section>
</div>
<div class="card">
  <h2>Ключевые навыки</h2>
  <section class="skills">
    <div>
      <ul>
        <li>Angular 13+, TypeScript, RxJS, NgRX</li>
        <li>JavaScript, Canvas, d3.js, mxGraph, Chart.JS</li>
        <li>CSS3/SASS: михины, модули</li>
        <li>HTML5: БЭМ, Адаптивная верстка, одностраничные и многостраничные сайты</li>
        <li>Angular material, Angular CDK</li>
      </ul>
    </div>
    <div>
      <ul>
        <li>npm, pnpm, webpack, module federation, transloco</li>
        <li>Контроль версий/Git, GitLab, GitHub, Figma</li>
        <li>PWA, Service Worker, WebSocket, REST</li>
        <li>Английский (технический)</li>
      </ul>
    </div>
  </section>
</div>
<div class="card">
  <h2>О себе</h2>
  <section>
    <p>Организован и усидчив, обладаю знаниями фреймворка Angular, освоил Type Script и Java Script</p>
    <p>Начинал с python, потом переключился на фронтенд</p>
    <p>Хорошо освоился в сфере представления данных на графиках</p>
  </section>
</div>
<div class="card">
  <h2>Опыт работы</h2>
  <section class="job">
    <div class="date"><p>август 2022</p>-<p>настоящее время</p></div>
    <div class="info">
      <h3>ООО «Терралинк технолоджис» г.Москва; удаленно.</h3>
      <h4>Frontend разработчик (Angular, JS)</h4>
      <p>Обязанности:</p>
      <ul>
        <li>Разработка виджетов в микро-фронтендовой архитектуре</li>
        <li>Настройка среды, микрофронтов, линтеров</li>
        <li>• Настройка webpack + module Federation</li>
        <li>Интеграция open source библиотек в Angular</li>
        <li>Разработка компонентов UI-KIT</li>
        <li>Проведение код ревью</li>
        <li>Верстка страниц, приложенией, виджетов с Figma</li>
        <li>Подвязка виджетов к REST и WS запросам</li>
        <li>Доработка интерфейса по замечаниям заказчика</li>
      </ul>
    </div>
  </section>
  <button (click)="showPreviousJobs=!showPreviousJobs" class="job__expander" mat-button>
    {{ !showPreviousJobs ? 'Раскрыть список' : 'Свернуть' }}
    <mat-icon [fontIcon]="!showPreviousJobs ? 'keyboard_arrow_down' : 'keyboard_arrow_up'" aria-hidden="false"
              aria-label="Logo"></mat-icon>
  </button>
  <section [class.job_hidden]="!showPreviousJobs" class="job">
    <div class="date"><p>март 2022</p>-<p>август 2022</p></div>
    <div class="info">
      <h3>ООО «Автоматика-сервис» г.Москва; удаленно.</h3>
      <h4>Frontend разработчик (Angular, JS)</h4>
      <p>Обязанности:</p>
      <ul>
        <li>Ведение проекта на ngRx архитектуре</li>
        <li>Участие в проекте с микро-фронтендовой архитектурой</li>
        <li>Верстка страниц, приложенией, виджетов с Figma</li>
        <li>Подвязка виджетов к REST и WS запросам</li>
        <li>Доработка интерфейса по замечаниям заказчика</li>
      </ul>
    </div>
  </section>
  <section [class.job_hidden]="!showPreviousJobs" class="job job_additional">
    <div class="date"><p>апрель 2020</p>-<p>март 2022</p></div>
    <div class="info">
      <h3>ОАО «НПП Алмаз» г.Саратов</h3>
      <h4>Инженер, инженер-конструктор, инженер-разработчик</h4>
      <p>Обязанности:</p>
      <ul>
        <li>Программирование дронов geoscan. Lua</li>
        <li>Участие в разработках алгоритмов машинного зрения, роевого управления дронами. Python</li>
        <li>Участие в конкурсе Кибердром 2022</li>
      </ul>
    </div>
  </section>
  <section [class.job_hidden]="!showPreviousJobs" class="job">
    <div class="date"><p>ноябрь 2018</p>-<p>апрель 2020</p></div>
    <div class="info">
      <p>Обязанности:</p>
      <ul>
        <li>Разработка высоковольтных блоков питания для твердотельных и вакуумных устройств</li>
        <li>Ведение документации по блокам питания</li>
        <li>Программирование микроконтроллеров</li>
      </ul>
    </div>
  </section>
</div>
<div class="card">
  <h2>Образование</h2>
  <section>
    <h2>2021</h2>
    <h3>Саратовский государственный технический университет
      им. Ю.А. Гагарина
    </h3>
    <h3>Бакалавриат и магистура:</h3>
    <li> Институт электронной техники и приборостроения, Инфокоммуникационные технологии и системы связи
    </li>
    <h3>Московский колледж бизнес-технологий</h3>
    <li>Оператор наземных средств управления беспилотным летательным аппаратом</li>
    <h3>Лейтенант запаса:</h3>
    <li>Военный учебный центр при СГТУ имени Гагарина Ю.А.</li>
  </section>
</div>
