@import "../../../theme/mixins/main-page-mixin";

@include main-page-mixin();

.avo {
  width: 100%;
  max-width: 300px;
  aspect-ratio: auto;
}

.job {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 8px;
  border-bottom: 1px solid var(--color-borders-stroke);

  .date {
    width: 100px;
  }

  .info {
    flex: 1;
    padding: 8px;
    border-left: 1px dashed var(--color-borders-stroke);
  }
}
