<div class="card">
  <h2>title</h2>
  <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, quisquam.</span>
</div>
<div class="card">
  <h2>title</h2>
  <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, quisquam.</span>
</div>
<div class="card">
  <h2>title</h2>
  <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, quisquam.</span>
</div>
<div class="card">
  <h2>title</h2>
  <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, quisquam.</span>
</div>
<div class="card">
  <h2>title</h2>
  <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, quisquam.</span>
</div>
<div class="card">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consequatur dolor error facere fuga, maiores mollitia nostrum officiis omnis provident quasi quibusdam quis reprehenderit sapiente, temporibus vel voluptates voluptatibus voluptatum? Ab adipisci architecto asperiores atque commodi est illum incidunt iusto minus necessitatibus, odit porro quos rem sequi tempore temporibus vitae!</div>
<div class="card">
  <ul>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Lorem ipsum dolor sit amet.</li>
  </ul>
</div>
