<div class="card">
  <h1>MainTittle</h1>
</div>
<div class="card card_flexible card_3">
  <img [src]="'assets/favicon.ico'" alt="" class="avo">
</div>
<div class="card card_5">
  <h2>Крютченко Евгений Александрович</h2>
  <p>{{ 'Email: e.krytchenko97@bk.ru' }}</p>
  <p>{{ 'Телефон: 8-917-984-73-60' }}</p>
  <p>г. Саратов</p>
</div>

<div class="card">
  <h2>Ключевые навыки</h2>
  <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, quisquam.</span>
</div>

<div class="card">
  <h2>Опыт работы</h2>
  <section class="job">
    <div class="date"><p>март 2022</p>-<p>август 2022</p></div>
    <div class="info">
      <h3>ООО «Автоматика-сервис» г.Москва; удаленно.</h3>
      <h4>Frontend разработчик (Angular, JS)</h4>
      <p>Обязанности:</p>
      <ul>
        <li>Ведение проекта на ngRx архитектуре</li>
        <li>Участие в проекте с микро-фронтендовой архитектурой</li>
        <li>Верстка страниц, приложенией, виджетов с Figma</li>
        <li>Подвязка виджетов к REST и WS запросам</li>
        <li>Доработка интерфейса по замечаниям заказчика</li>
      </ul>
    </div>
  </section>
  <section class="job">
    <div class="date"><p>апрель 2020</p>-<p>март 2022</p></div>
    <div class="info">
      <h3>ОАО «НПП Алмаз» г.Саратов</h3>
      <h4>Инженер, инженер-конструктор, инжерен-разработчик</h4>
      <p>Обязанности:</p>
      <ul>
        <li>Программирование дронов geoscan. Lua</li>
        <li>Участие в разработках алгоритмов машинного зрения, роевого управления дронами. Python</li>
        <li>Участие в конкурсе Кибердром 2022</li>
      </ul>
    </div>
  </section>
  <section class="job">
    <div class="date"><p>ноябрь 2018</p>-<p>март 2022</p></div>
    <div class="info">
      <p>Обязанности:</p>
      <ul>
        <li>Разработка высоковольтных блоков питания для твердотельных и вакуумных устройств</li>
        <li>Ведение документации по блокам питания</li>
        <li>Участие в проекте с микро-фронтендовой архитектурой</li>
        <li>Верстка страниц, приложенией, виджетов с Figma</li>
        <li>Подвязка виджетов к REST и WS запросам</li>
        <li>Доработка интерфейса по замечаниям заказчика</li>
      </ul>
    </div>
  </section>
</div>

<div class="card">
  <h2>Образование</h2>
  <section>
    <h2>2021</h2>
    <h3>Саратовский государственный технический университет
      им. Ю.А. Гагарина, Саратов;
    </h3>
    <h4>Бакалавриат и магистура:</h4>
    <li> Институт электронной техники и приборостроения (ИнЭТМ бывш ФЭТиП),
      Инфокоммуникационные технологии и системы связи (радиотехника);
    </li>
    <h4>Лейтенант запаса:</h4>
    <li>Военный учебный центр при СГТУ имени Гагарина Ю.А.</li>
  </section>
</div>
<div class="card">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consequatur dolor error facere
  fuga, maiores mollitia nostrum officiis omnis provident quasi quibusdam quis reprehenderit sapiente, temporibus vel
  voluptates voluptatibus voluptatum? Ab adipisci architecto asperiores atque commodi est illum incidunt iusto minus
  necessitatibus, odit porro quos rem sequi tempore temporibus vitae!
</div>
<div class="card">
  <ul>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Lorem ipsum dolor sit amet.</li>
  </ul>
</div>
