@import "packages/typography/mixins";
@import "packages/scrolling/mixins";

:host {
  display: flex;
  flex-direction: column;
}

:host {
  display: flex;
  min-height: 100%;
  flex: 1;
  flex-direction: column;
}

.app-container {
  display: flex;
  flex: 1;
  overflow: auto;
  flex-direction: row;
}

.sidebar {
  min-width: 320px;
  max-width: 320px;
  display: flex;

  border-right: 1px solid var(--brand-border);

  @media screen and (max-width: 1000px) {
    min-width: unset;
    max-width: 100px;
  }
}

.content {
  @include typography(regular);
  @include vertical-scroll($hover: true);

  padding: 16px 22px;
  flex: 1;
  display: flex;
}
