@import '../../../../libs/ui/styles';

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: var(--color-background-main);
  color: var(--color-text-contrast);
  height: 98vh;
  overflow: hidden;
}
