<krui-chart [chartOrientation]="'horizontal'"
            [height]="600"
            [legendType]="'simple-style'"
            [toolbar]="true"
            [tooltipMarkerType]="'horizontal-line'"
            [tooltipType]="'dataPoint'">
  <krui-chart-layer>
    <krui-chart-axis
      name="x"
      position="bottom"
      type="number"
    ></krui-chart-axis>
    <krui-chart-axis
      [primary]="true"
      name="y"
      position="left"
      type="number"
    ></krui-chart-axis>

    <krui-chart-grid axis="x"></krui-chart-grid>
    <krui-chart-grid axis="y"></krui-chart-grid>

    <krui-chart-data-layer
      [animation]="true"
      [barRadius]="8"
      [captions]="[2021,2022,2023]"
      [colors]="['var(--color-additional-4)', 'var(--color-additional-9)', 'var(--color-additional-11)']"
      [dataStack]="data"
      [showValues]="true"
      [stackType]="'fullStackBar'"
      [tooltipHoverEffect]="true"
      [valuePosition]="'center'"
      kruiChartHorizontalStackBar
    >
    </krui-chart-data-layer>
  </krui-chart-layer>
</krui-chart>
