@mixin light-variables() {
  --color-logo: #1838e5;

  /*Текст*/
  --color-text-contrast: #212631;
  --color-text-main-and-axis-labels: #455168;
  --color-text-signatures-and-future: #667799;

  /*Фон*/
  --color-background-main: #f9fafb;
  --color-background-body: #f3f4f7;
  --color-background-headers: #d4d9e2;

  /*Границы*/
  --color-borders-stroke: #eaecf1;
  --color-borders-icons: #97a3ba;

  /*Индексы*/
  --color-index-gray: #323B4D;
  --color-index-yellow: #FFB30F;
  --color-index-red: #D9363C;
  --color-index-green: #4CB944;
  --color-index-blue: #2779CC;

  --color-additional-1: #9A88BA;
  --color-additional-2: #50A166;
  --color-additional-3: #DE6D83;
  --color-additional-4: #3698C2;
  --color-additional-5: #E6BC35;
  --color-additional-6: #885ABF;
  --color-additional-7: #6F7ED1;
  --color-additional-8: #658ED6;
  --color-additional-9: #06A19E;
  --color-additional-10: #006B68;
  --color-additional-11: #7860A8;
  --color-additional-12: #007D23;
  --color-additional-13: #D12771;
  --color-additional-14: #00B4FF;
  --color-additional-15: #FDD13A;
  --color-additional-16: #8A3CEC;
  --color-additional-17: #3147C0;
  --color-additional-18: #F585FF;
  --color-additional-19: #00FFFB;
  --color-additional-20: #C2FF84;
  --color-additional-21: #118F3F;
}
