mat-dialog-content,
h2 {
  background-color: var(--color-background-headers);
}

krui-form-field {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding: 1rem;
}
