<div class="card card_flexible card_3">
  <img [src]="'assets/my-foto-2.png'" alt="" class="avo">
</div>
<div class="card card_5">
  <svg-icon (click)="link.click()" [tooltipParameters]="{size: 'sm',   text: 'Скачать', position: 'bottom'}"
            class="download-icon krui-icon--lg"
            kruiTooltip src="kruiIconDownloadArrowDownSimple">
    <a #link href="assets/rezume.pdf"></a>
  </svg-icon>
  <h1>Крютченко Евгений Александрович, 28 лет.</h1>
  <div class="info-grid">
    <div>
      <p>Email: <a href="mailto:e.krytchenko97@bk.ru">{{ 'e.krytchenko97@bk.ru' }}</a></p>
      <p>Телефон: <a href="tel:+79179847360">{{ '8-917-984-73-60' }}</a></p>
      <p>Место жительства: Саратов, Россия</p>
      <p>Семейное положение: женат</p>
    </div>
    <div>
      <p>Желаемая зарплата: 250 000</p>
      <p>График работы: полный день, удаленная работа</p>
      <p>Готовность к командировкам: нет</p>
      <p>Готовность к переезду: возможно</p>
    </div>
  </div>
  <hr class="delimiter">
  <p>Опыт работы: 6 лет.<span class="contrast"> Опыт разработки: 3 года</span></p>
  <div class="git">
    <svg-icon [src]="'assets/github-mark.svg'" class="git krui-icon--lg"></svg-icon>
    <a href="https://github.com/KrutchenkoEA">https://github.com/KrutchenkoEA</a>
  </div>
</div>
<div class="card">
  <h1>Достижения</h1>
  <section class="achievements">
    <h2>Написал библиотеку для создания
      <span [queryParams]="{onlyCharts: true}"
            [tooltipParameters]="{size: 'sm',   text: 'Перейти в конфигуратор графиков', position: 'bottom'}"
            kruiTooltip
            routerLink="/kit/combo-charts">графиков</span>
      , на основе
      d3.js</h2>
    <div class="card_flexible-row">Графики включают в себя тренды
      <svg-icon src="kruiIconChartMountain"></svg-icon>
      , бары
      <svg-icon src="kruiIconChartColumns"></svg-icon>
      , стек-бары
      <svg-icon src="kruiIconChartColumnsRows"></svg-icon>
      и их комбинации
    </div>
    <p>Поддерживают перерисовку в реальном времени, анимацию, стилизацию, легенду, тулбар, печать</p>
    <p>Используется во всех нижеперечисленных проектах</p>
  </section>
  <section class="achievements">
    <h2>На основе open source библиотеки mxGraph создал
      <span [tooltipParameters]="{size: 'sm',   text: 'Страница в разработке', position: 'bottom'}"
            class="disabled"
            kruiTooltip>
        конфигуратор схем
      </span>
    </h2>
    <p>Внедрил в Angular-приложение и переписал более 60% ванильного JS на TS</p>
    <p>Конфигуратор поддерживает объекты из базовых геометрический фигур, svg-шейпов и пользовательских фигур, фигур на
      основе графиков</p>
    <p>Поддерживает добавление различных источников данных, в виде констант, тайм-серий и запросов к базам данных</p>
  </section>
  <section class="achievements">
    <h2>Создал конфигуратор дашбордов – плиточное представление для инфографики на основе Angular Gridster</h2>
  </section>
  <section class="achievements">
    <h2>На основе конфигуратора схем и дашбордов создал
      <span [tooltipParameters]="{size: 'sm',   text: 'Страница в разработке', position: 'bottom'}"
            class="disabled"
            kruiTooltip>
        view-портал
      </span>
      - инструмент для отображения реальных данных схем, дашбордов и инфографики</h2>
    <p>Имеет модульную архитектуру</p>
    <p>Поддерживает запрос данных по REST и WS</p>
    <p>Имеет возможность дописывать и подключать модули, для работы с различными источниками данных</p>
  </section>
</div>
<div class="card">
  <h1>Ключевые навыки</h1>
  <section class="skills">
    <div>
      <ul>
        <li>Angular 13+, TypeScript, RxJS, NgRX</li>
        <li>JavaScript, Canvas, d3.js, mxGraph, Chart.JS</li>
        <li>CSS3/SCSS: михины, модули, мапы, перменные</li>
        <li>HTML5: БЭМ, Адаптивная верстка, одностраничные и многостраничные сайты</li>
        <li>Angular material, Angular CDK</li>
      </ul>
    </div>
    <div>
      <ul>
        <li>npm, pnpm, webpack, module federation, eslinter, prettier, husky, transloco</li>
        <li>Контроль версий/Git, GitLab, GitHub, Figma</li>
        <li>PWA, Service Worker, WebSocket, REST</li>
        <li>Использую ChatGpt, Grok и другие ИИ</li>
        <li>Английский (технический)</li>
      </ul>
    </div>
  </section>
</div>
<div class="card">
  <h1>О себе</h1>
  <section>
    <p>Организован и усидчив, обладаю знаниями фреймворка Angular, освоил Type Script и Java Script</p>
    <p>Начинал с python, потом переключился на фронтенд сначала ванильный JS, потом Angular</p>
  </section>
</div>
<div class="card">
  <h1>Опыт работы</h1>
  <section class="job">
    <div class="date"><p>август 2022</p>-<p>настоящее время</p></div>
    <div class="info">
      <h2>ООО «Терралинк технолоджис» г.Москва; удаленно.</h2>
      <h3>Frontend разработчик (Angular, JS)</h3>
      <p>Обязанности:</p>
      <ul>
        <li>Разработка нового и доработка существующего кода</li>
        <li>Разработка виджетов в микро-фронтенд архитектуре</li>
        <li>Ведение библиотеки компонентов UI-kit: разработка новых, доработка/актуализации старых</li>
        <li>Настройка среды: webpack + module federation, подключение esbuild + linter + husky</li>
        <li>Интеграция open source библиотек в Angular-проекты (mxGraph(JS) ,Univer-spreadsheet (React))</li>
        <li>Разработка мультиязычных приложения (с поддержкой написания справа налево)</li>
        <li>Проведение код ревью</li>
        <li>Верстка страниц, приложений, виджетов по макетам Figma</li>
        <li>Подвязка виджетов к REST и WS запросам, работа с API</li>
        <li>Взаимодействие с коллегами</li>
      </ul>
    </div>
  </section>
  <button (click)="showPreviousJobs=!showPreviousJobs" [btnStyle]="'tertiary'" class="job__expander" kruiButton>
    {{ !showPreviousJobs ? 'Раскрыть список' : 'Свернуть' }}
    <svg-icon [src]="showPreviousJobs ? 'kruiIconArrowUpSimple' : 'kruiIconArrowDownSimple'"></svg-icon>
  </button>
  <section [class.job_hidden]="!showPreviousJobs" class="job">
    <div class="date"><p>март 2022</p>-<p>август 2022</p></div>
    <div class="info">
      <h2>ООО «Автоматика-сервис» г.Москва; удаленно.</h2>
      <h3>Frontend разработчик (Angular, JS)</h3>
      <p>Обязанности:</p>
      <ul>
        <li>Ведение проекта на ngRx архитектуре</li>
        <li>Участие в проекте с микро-фронтендовой архитектурой</li>
        <li>Верстка страниц, приложенией, виджетов с Figma</li>
        <li>Подвязка виджетов к REST и WS запросам</li>
        <li>Доработка интерфейса по замечаниям заказчика</li>
      </ul>
    </div>
  </section>
  <section [class.job_hidden]="!showPreviousJobs" class="job job_additional">
    <div class="date"><p>апрель 2020</p>-<p>март 2022</p></div>
    <div class="info">
      <h2>ОАО «НПП Алмаз» г.Саратов</h2>
      <h3>Инженер, инженер-конструктор, инженер-разработчик</h3>
      <p>Обязанности:</p>
      <ul>
        <li>Программирование дронов geoscan. Lua</li>
        <li>Участие в разработках алгоритмов машинного зрения, роевого управления дронами. Python</li>
        <li>Участие в конкурсе Кибердром 2022</li>
      </ul>
    </div>
  </section>
  <section [class.job_hidden]="!showPreviousJobs" class="job">
    <div class="date"><p>ноябрь 2018</p>-<p>апрель 2020</p></div>
    <div class="info">
      <p>Обязанности:</p>
      <ul>
        <li>Разработка высоковольтных блоков питания для твердотельных и вакуумных устройств</li>
        <li>Ведение документации по блокам питания</li>
        <li>Программирование микроконтроллеров</li>
      </ul>
    </div>
  </section>
</div>
<div class="card">
  <h1>Образование</h1>
  <section>
    <h1>2021</h1>
    <h2>Саратовский государственный технический университет
      им. Ю.А. Гагарина
    </h2>
    <h2>Бакалавриат и магистура:</h2>
    <li> Институт электронной техники и приборостроения, Инфокоммуникационные технологии и системы связи
    </li>
    <h2>Московский колледж бизнес-технологий</h2>
    <li>Оператор наземных средств управления беспилотным летательным аппаратом</li>
    <h2>Лейтенант запаса:</h2>
    <li>Военный учебный центр при СГТУ имени Гагарина Ю.А.</li>
  </section>
</div>
