<krui-chart [height]="600" [legendType]="'simple-style'" [toolbar]="true" [tooltipType]="'dataPoint'">
  <krui-chart-layer>
    <krui-chart-axis
      [primary]="true"
      name="x"
      position="bottom"
      type="number"
    ></krui-chart-axis>
    <krui-chart-axis
      name="y"
      position="left"
      type="number"
    ></krui-chart-axis>

    <krui-chart-grid axis="x"></krui-chart-grid>
    <krui-chart-grid axis="y"></krui-chart-grid>

    <krui-chart-data-layer
      [animation]="true"
      [barBorder]="true"
      [barRadius]="2"
      [captions]="[2020,2021,2022,2023]"
      [data]="[data, data2]"
      [showValues]="true"
      [tooltipHoverEffect]="true"
      [workgroundPadding]="{
        top: 5,
        right: 15,
        bottom: 0,
        left: 15
      }"
      kruiChartComboBar
    >
    </krui-chart-data-layer>
  </krui-chart-layer>
</krui-chart>

<div class="update-button">
  <button (click)="update()" kruiButton> Обновить данные</button>
</div>
