:host {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.7rem;
  margin: 0 auto;
  width: 90%;
  background-color: var(--color-background-headers);
  border-radius: 2.2rem;
  transition: height 0.5s;

  .burger-button {
    display: none;
  }

  @media screen and (max-width: 600px) {
    .burger-button {
      display: inline;
    }

    height: 50px;
    overflow: hidden;
  }

  &.burger-menu--visible {
    height: unset;
    overflow: visible;
    transition: height 0.5s;
  }

  .menu {
    gap: 0;
  }
}

.menu {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;

  &_disabled {
    opacity: 0.6;
    cursor: default;
  }

  krui-button-group {
    flex-wrap: wrap;
    flex-shrink: unset;
  }
}

.options {
  display: flex;
}

