<button (click)="isMenuVisible = !isMenuVisible" [btnStyle]="'ghost'" class="burger-button" kruiButton>
  <svg-icon src="kruiIconMenuBurgerBig"></svg-icon>
</button>
<button [btnStyle]="'ghost'" kruiButton routerLink="">
  <svg-icon src="kruiIconHomeOutlineSquare"></svg-icon>
</button>
<div class="menu">
  <button [btnStyle]="isActive('kr-demo/main') ? 'primary' : 'ghost'" kruiButton routerLink="">Главная</button>
  <button [btnStyle]="isActive('kr-demo/rezume') ? 'primary' : 'ghost'" kruiButton routerLink="kr-demo/rezume">Резюме
  </button>
  <button [btnStyle]="isActive('kr-demo/kit/combo-charts') ? 'primary' : 'ghost'"
          [queryParams]="{onlyCharts: true}"
          kruiButton
          routerLink="kr-demo/kit/combo-charts">Графики
  </button>
  <button [btnStyle]="isActive('kr-demo/mnemo') ? 'primary' : 'ghost'"
          [tooltipParameters]="{  size: 'sm', text: 'В разработке', position: 'bottom'}"
          class="menu_disabled"
          kruiButton
          kruiTooltip>Схемы
  </button>
  <button [btnStyle]="isActive('kr-demo/dashboard') ? 'primary' : 'ghost'"
          [tooltipParameters]="{  size: 'sm', text: 'В разработке', position: 'bottom'}"
          class="menu_disabled"
          kruiButton
          kruiTooltip
          routerLink="kr-demo/dashboard">Дашборды
  </button>
  <button [btnStyle]="isActive('kr-demo/kit', 'subset') ? 'primary' : 'ghost'" kruiButton routerLink="kr-demo/kit">UI
    KIT
  </button>
</div>
<div class="options">
  <krui-toggle (change)="changeTheme()"
               [ngModel]="themeService.isDarkTheme$ | async"
               [tooltipParameters]="{size: 'sm',  text: 'Переключить тему', position: 'bottom'}"
               class="krui-mr--xs"
               iconOff="kruiIconThemeLightSun"
               iconOn="kruiIconThemeDarkMoon"
               kruiTooltip
               size="xlg">
  </krui-toggle>
</div>
