@import 'variables';
@import 'packages/scrolling/mixins';

$snippet-font-size: 1rem;
$snippet-line-height: 1.2rem;
$snippet-background: $bg-main;
$snippet-icon-margin: $atom * 3;

:host {
  @include vertical-scroll();

  display: block;
  flex: 1;
  position: relative;
}

pre {
  margin: 0;
  width: 100%;
}

.snippet-container {
  margin-top: -$snippet-icon-margin;
}

code {
  font-size: $snippet-font-size;
  line-height: $snippet-line-height;
  background: $snippet-background !important;
  white-space: pre-wrap;
}

.krui-btn--icon {
  position: sticky;

  z-index: 2;
  top: 10px;
  left: calc(100% - #{$snippet-icon-margin * 2});
}
