:host{
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  background-color: var(--color-background-headers);
  border-radius: 2.2rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .title{
    padding-left: 3rem;
  }
}
