<section #content class="kit-page-content">
  <example-viewer [collapsed]="true" example="chart-range-bar-setting"></example-viewer>
  <example-viewer [collapsed]="true" example="chart-range-bar"></example-viewer>
  <example-viewer [collapsed]="true" example="chart-range-bar-update"></example-viewer>
  <example-viewer [collapsed]="true" example="chart-horizontal-range-bar"></example-viewer>
  <example-viewer [collapsed]="true" example="chart-horizontal-range-bar-update"></example-viewer>
</section>

<table-of-contents [container]="elementRef.nativeElement.parentElement" [content]="content"></table-of-contents>
