@import "mixins/main-page-mixin";

@include main-page-mixin();

p {
  margin: 16px 0;
}

a {
  cursor: pointer;
}

.card_clickable {
  margin: 0 2rem;
}

.image {
  max-width: 600px;
  aspect-ratio: auto;
  height: 100px;
  width: 60%;
}

.card {
  &__section {
    display: flex;
    flex-wrap: wrap;
    gap: 0 8px;
    width: 70%;
  }

  &__image {
    height: 300px;
    padding: 1rem;
    border: 1px dashed var(--color-borders-light);
    border-radius: 0.8rem;
    display: flex;
  }

  &__column {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .card_flexible-row {
    flex-direction: column;
  }
}
