<as-split [formGroup]="form" direction="vertical">
  <as-split-area>
    <!--    <kr-app-combo-chart></kr-app-combo-chart>-->
  </as-split-area>

  <as-split-area>
    <as-split direction="horizontal">
      <as-split-area>
        <kr-app-combo-chart-generator></kr-app-combo-chart-generator>
      </as-split-area>

      <as-split-area>
        <kr-app-combo-chart-settings [formGroupName]="'optionsForm'"></kr-app-combo-chart-settings>
      </as-split-area>
    </as-split>
  </as-split-area>
</as-split>


<div class="button">
  <label class="krui-form-field-label"></label>
  <button (click)="update()" kruiButton>
    <svg-icon kruiBtnIcon src="kruiIconReloadCycle"></svg-icon>
  </button>
</div>
