@import '../../../theme/mixins/split-mixin';

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;

  ::ng-deep {
    @include split();
  }
}



.button {
  display: flex;
  flex-direction: column;
}

