<krui-chart [chartOrientation]="'horizontal'"
            [height]="600"
            [legendType]="'simple-style'"
            [toolbar]="true"
            [tooltipMarkerType]="'horizontal-line'"
            [tooltipType]="'dataPoint'">
  <krui-chart-layer [zoomPrimaryEnable]="true" [zoomSecondaryEnable]="false">
    <krui-chart-axis
      [primary]="false"
      name="x"
      position="bottom"
      type="number"
    ></krui-chart-axis>
    <krui-chart-axis
      [primary]="true"
      name="y"
      position="left"
      type="number"
    ></krui-chart-axis>

    <krui-chart-grid axis="x"></krui-chart-grid>
    <krui-chart-grid axis="y"></krui-chart-grid>

    <krui-chart-data-layer
      [animation]="true"
      [barBorderColor]="'rgb(45,237,234)'"
      [barBorder]="true"
      [barRadius]="4"
      [captions]="['2022']"
      [color]="'rgba(45,221,237,0.5)'"
      [data]="data"
      [showValues]="true"
      kruiChartHorizontalBar
    >
    </krui-chart-data-layer>
  </krui-chart-layer>
</krui-chart>
