<ng-container *ngIf="content$ | async as content; else loading">
  @if (!error) {
    <mat-icon class="krui-btn--icon krui-icon--md" fontIcon="content_copy" (click)="copySource(text?.textContent ?? '')"
              title="Копировать в буфер"></mat-icon>
  }

  <div #text class="snippet-container">
    @if (error) {
      <div>{{ content }}</div>
    }
    @if (!error) {
      <pre><code #text [innerHTML]="content | syntax" class="hljs"></code></pre>
    }
  </div>
</ng-container>

<ng-template #loading>
  <div class="krui-pv--sm krui-mh--sm">Загрузка...</div>
</ng-template>
