<krui-chart [height]="600" [legendType]="'simple-style'" [tooltipType]="'dataPoint'">
  <krui-chart-layer>
    <krui-chart-axis
      [primary]="true"
      name="x"
      position="bottom"
      type="number"
    ></krui-chart-axis>
    <krui-chart-axis
      name="y"
      position="left"
      type="number"
    ></krui-chart-axis>

    <krui-chart-grid axis="x"></krui-chart-grid>
    <krui-chart-grid axis="y"></krui-chart-grid>

    <krui-chart-data-layer
      [animation]="true"
      [captions]="[2020]"
      [dataPointType]="'all'"
      [data]="stream0"
      [showValues]="false"
      kruiChartLine
    >
    </krui-chart-data-layer>
    <krui-chart-data-layer
      [animation]="true"
      [captions]="[2021]"
      [dataPointType]="'partial'"
      [data]="stream1"
      [setPointMapSettings]="customPointType"
      [showValues]="false"
      kruiChartLine
    >
    </krui-chart-data-layer>
    <krui-chart-data-layer
      [animation]="true"
      [breakPointType]="'config'"
      [captions]="[2022]"
      [data]="stream2"
      [showValues]="false"
      kruiChartLine
    >
    </krui-chart-data-layer>
    <krui-chart-data-layer
      [animation]="true"
      [breakPointType]="'auto'"
      [captions]="[2023]"
      [data]="stream3"
      [showValues]="false"
      kruiChartLine
    >
    </krui-chart-data-layer>
  </krui-chart-layer>
</krui-chart>
