@for (group of data; track group?.index) {
  <div class="krui-chart-tooltip">
    @if (!group?.hidden) {
      @if (group?.title) {
        <div class="krui-chart-tooltip__header">{{ group.title }}</div>
      }
      @if (group?.value) {
        <div class="krui-chart-tooltip__header">
          @if (getValueType(group.value); as groupType) {
            @switch (groupType) {
              @case ('date') {
                {{ tooltipShowMilliseconds ? getDateWithMilliseconds(group.value) : group.value | date: tooltipTitleDateValuePipeFormat }}
              }
              @case ('number') {
                {{ getNumberValue(group.value) | number: tooltipNumberValuePipeFormat }}
              }
              @default {
                {{ group.value }}
              }
            }
          }
        </div>
      }

      <table class="krui-chart-tooltip__list">
        @for (row of group?.rows; track row.index) {
          @if (!row?.hidden && (row?.value !== null)) {
            <tr>
              <td colspan="3">
                <div class="krui-chart-tooltip__delimeter"></div>
              </td>
            </tr>
            <tr class="krui-chart-tooltip__list-item">
              <td class="krui-chart-tooltip__value">
                <span [style.color]="row.color">
                  @switch (row.type) {
                    @case ('line') {
                      &#9644;
                    }
                    @case ('area') {
                      &#9481;
                    }
                    @case ('gradientArea') {
                      &#9724;
                    }
                    @case ('bar') {
                      &#9724;
                    }
                    @case ('stackBar') {
                      &#9636;
                    }
                    @case ('fullStackBar') {
                      &#9636;
                    }
                  }
              </span>
              </td>
              <td class="krui-chart-tooltip__label">
                <span>{{ row?.title }}{{ delimiterSymbol }}</span>
              </td>
              <td class="krui-chart-tooltip__value">
                @if (getValueType(row.value); as rowType) {
                  @switch (rowType) {
                    @case ('date') {
                      {{ row.value | date: tooltipDateValuePipeFormat }}
                    }
                    @case ('number') {
                      {{ row.value | number: tooltipNumberValuePipeFormat }}
                    }
                    @default {
                      {{ row.value }}
                    }
                  }
                }
                <span>{{ row?.engUnits }}</span>
              </td>
            </tr>
          }
        }
      </table>
    }
  </div>
}


